# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
auth.json

# IDE / outils dev
/.idea
/.vscode
/.phpunit.cache
/.fleet
/.nova
/.zed

# Autres
*.log
.DS_Store
Thumbs.db
/public/build
/public/hot
Homestead.json
Homestead.yaml
/.vagrant
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
npm-debug.log
yarn-error.log
